<h1>Tackling an open problem</h1>

For this homework the idea is to hone our skills on exploring and plotting a dataset. You can either work with the Pokemon dataset that was given or download your own. If you opt to download your own I recommend you use one of the datasets available on kaggle,

https://www.kaggle.com/datasets

As they tend to be found in a clean format and are generally free to use.

Largely, the main objective is learning how to search the internet for new implementations you want to use on your code helping you develop your self-confidence.

There's no right or wrong, pick a dataset you enjoy and try to have some fun.
If you need, use the notebook from the previous session as a guideline.

In [140]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [142]:
# Read the dataset file in panda (This dataset contains 1.3 million job listings scraped from LinkedIn in the year 2024)
linked_in_jobs_df = pd.read_csv('Datasets/linkedin_job_postings.csv', sep=',')

In [143]:
# Some beginning and ending rows of the columns
print(linked_in_jobs_df)

                                                  job_link  \
0        https://www.linkedin.com/jobs/view/account-exe...
1        https://www.linkedin.com/jobs/view/registered-...
2        https://www.linkedin.com/jobs/view/restaurant-...
3        https://www.linkedin.com/jobs/view/independent...
4        https://www.linkedin.com/jobs/view/group-unit-...
...                                                    ...
1348449  https://www.linkedin.com/jobs/view/registered-...
1348450  https://www.linkedin.com/jobs/view/constructio...
1348451  https://www.linkedin.com/jobs/view/executive-c...
1348452  https://www.linkedin.com/jobs/view/rn-register...
1348453  https://www.linkedin.com/jobs/view/on-demand-g...

                   last_processed_time got_summary got_ner is_being_worked  \
0         2024-01-21 07:12:29.00256+00           t       t               f
1         2024-01-21 07:39:58.88137+00           t       t               f
2        2024-01-21 07:40:00.251126+00           t       t               f
3        2024-01-21 07:40:00.308133+00           t       t               f
4        2024-01-19 09:45:09.215838+00           f       f               f
...                                ...         ...     ...             ...
1348449  2024-01-20 15:21:07.786118+00           t       t               f
1348450  2024-01-20 15:21:10.885264+00           t       t               f
1348451  2024-01-21 07:40:00.304641+00           t       t               f
1348452  2024-01-21 00:38:39.816821+00           t       t               f
1348453  2024-01-21 00:38:44.231492+00           t       t               f

                                                 job_title  \
0        Account Executive - Dispensing (NorCal/Norther...
1                       Registered Nurse - RN Care Manager
2                     RESTAURANT SUPERVISOR - THE FORKLIFT
3                            Independent Real Estate Agent
4        Group/Unit Supervisor (Systems Support Manager...
...                                                    ...
1348449  Registered Nurse (RN) #CP-RN-7998660 - 2411627...
1348450                        Construction Superintendent
1348451                 Executive Chef, Operations Support
1348452  RN- Registered Nurse, Analyst - - 23934913EXPP...
1348453  On-Demand: Guest Advocate (Cashier), General M...

                              company          job_location  first_seen  \
0                                  BD         San Diego, CA  2024-01-15
1                   Trinity Health MI     Norton Shores, MI  2024-01-14
2             Wasatch Adaptive Sports             Sandy, UT  2024-01-14
3          Howard Hanna | Rand Realty  Englewood Cliffs, NJ  2024-01-16
4        IRS, Office of Chief Counsel          Chamblee, GA  2024-01-17
...                               ...                   ...         ...
1348449             TravelNurseSource        Providence, RI  2024-01-14
1348450                         Jobot        New Iberia, LA  2024-01-15
1348451           NEXDINE Hospitality         Riverhead, NY  2024-01-14
1348452             TravelNurseSource            Aurora, CO  2024-01-16
1348453                        Target       Culver City, CA  2024-01-12

         search_city search_country                        search_position  \
0           Coronado  United States                            Color Maker
1        Grand Haven  United States               Director Nursing Service
2             Tooele  United States                               Stand-In
3          Pinehurst  United States                      Real-Estate Clerk
4            Gadsden  United States   Supervisor Travel-Information Center
...              ...            ...                                    ...
1348449   Fall River  United States                       Nurse Supervisor
1348450    Lafayette  United States  Assistant Construction Superintendent
1348451     Eastport  United States                                   Chef
1348452     Colorado  United States                   Occupational Analyst
1348453       Malibu  United States                             Cashier Ii

          job_level job_type
0        Mid senior   Onsite
1        Mid senior   Onsite
2        Mid senior   Onsite
3        Mid senior   Onsite
4        Mid senior   Onsite
...             ...      ...
1348449  Mid senior   Onsite
1348450  Mid senior   Onsite
1348451  Mid senior   Onsite
1348452  Mid senior   Onsite
1348453  Mid senior   Onsite

[1348454 rows x 14 columns]

In [144]:
#Column headings
linked_in_jobs_df.keys()

Index(['job_link', 'last_processed_time', 'got_summary', 'got_ner',
       'is_being_worked', 'job_title', 'company', 'job_location', 'first_seen',
       'search_city', 'search_country', 'search_position', 'job_level',
       'job_type'],
      dtype='object')

In [148]:
#Country with jobs count
linked_in_jobs_df['search_country'].value_counts()

search_country
United States     1149342
United Kingdom     113421
Canada              55972
Australia           29719
Name: count, dtype: int64

In [150]:
#Job type count mostly onsite
linked_in_jobs_df['job_type'].value_counts()

job_type
Onsite    1337633
Hybrid       6562
Remote       4259
Name: count, dtype: int64

In [152]:
#top postions
linked_in_jobs_df['search_position'].value_counts()

search_position
Account Executive                   19468
Christian Science Nurse             16048
Consultant Education                12138
Change Person                       12025
Circulation-Sales Representative    10978
                                    ...
Filter Operator                         1
Muffler Installer                       1
Cleaner Wall                            1
Dry-End Operator                        1
Playroom Attendant                      1
Name: count, Length: 1993, dtype: int64

In [154]:
#Job positions in united kingdom
GB_JOBS = linked_in_jobs_df['search_country'] = 'United Kingdom' + linked_in_jobs_df['search_position']

In [156]:
GB_JOBS

0                                  United KingdomColor Maker
1                     United KingdomDirector Nursing Service
2                                     United KingdomStand-In
3                            United KingdomReal-Estate Clerk
4          United KingdomSupervisor Travel-Information Ce...
                                 ...
1348449                       United KingdomNurse Supervisor
1348450    United KingdomAssistant Construction Superinte...
1348451                                   United KingdomChef
1348452                   United KingdomOccupational Analyst
1348453                             United KingdomCashier Ii
Name: search_position, Length: 1348454, dtype: object

In [158]:
#count of the same job in UK
GB_JOBS.value_counts()

search_position
United KingdomAccount Executive                   19468
United KingdomChristian Science Nurse             16048
United KingdomConsultant Education                12138
United KingdomChange Person                       12025
United KingdomCirculation-Sales Representative    10978
                                                  ...
United KingdomFilter Operator                         1
United KingdomMuffler Installer                       1
United KingdomCleaner Wall                            1
United KingdomDry-End Operator                        1
United KingdomPlayroom Attendant                      1
Name: count, Length: 1993, dtype: int64

In [160]:
#Account executive is coming out on top
GB_JOBS.describe()

count                             1348454
unique                               1993
top       United KingdomAccount Executive
freq                                19468
Name: search_position, dtype: object

In [162]:
# Good question why is this ?
GB_JOBS.head()

0                            United KingdomColor Maker
1               United KingdomDirector Nursing Service
2                               United KingdomStand-In
3                      United KingdomReal-Estate Clerk
4    United KingdomSupervisor Travel-Information Ce...
Name: search_position, dtype: object

In [164]:
#variable for UK only
united_kingdom = linked_in_jobs_df[linked_in_jobs_df['search_country'] == 'United Kingdom']

In [166]:
#same again UK and positions
print(linked_in_jobs_df[['search_country', 'search_position']])

                                            search_country  \
0                                United KingdomColor Maker
1                   United KingdomDirector Nursing Service
2                                   United KingdomStand-In
3                          United KingdomReal-Estate Clerk
4        United KingdomSupervisor Travel-Information Ce...
...                                                    ...
1348449                     United KingdomNurse Supervisor
1348450  United KingdomAssistant Construction Superinte...
1348451                                 United KingdomChef
1348452                 United KingdomOccupational Analyst
1348453                           United KingdomCashier Ii

                               search_position
0                                  Color Maker
1                     Director Nursing Service
2                                     Stand-In
3                            Real-Estate Clerk
4         Supervisor Travel-Information Center
...                                        ...
1348449                       Nurse Supervisor
1348450  Assistant Construction Superintendent
1348451                                   Chef
1348452                   Occupational Analyst
1348453                             Cashier Ii

[1348454 rows x 2 columns]

In [168]:
#List of 50 postions in UK
print(linked_in_jobs_df[['search_country', 'search_position']].head(50))

                                       search_country  \
0                           United KingdomColor Maker
1              United KingdomDirector Nursing Service
2                              United KingdomStand-In
3                     United KingdomReal-Estate Clerk
4   United KingdomSupervisor Travel-Information Ce...
5                   United KingdomResidence Counselor
6                    United KingdomNurse Practitioner
7                United KingdomHuman Resource Advisor
8                                United KingdomDouble
9                   United KingdomProgram Coordinator
10                        United KingdomSpecial Agent
11                               United KingdomVendor
12               United KingdomPsychiatric Technician
13                   United KingdomSolutions Operator
14     United KingdomCirculation-Sales Representative
15                        United KingdomChange Person
16                             United KingdomStand-In
17                     United KingdomManager Benefits
18                   United KingdomBooking Supervisor
19            United KingdomQuality Assurance Analyst
20                              United KingdomCharter
21                               United KingdomDouble
22             United KingdomDirector Nursing Service
23                            United KingdomSous Chef
24                            United KingdomConductor
25                             United KingdomCostumer
26                      United KingdomExhibit Builder
27        United KingdomNuclear Medicine Technologist
28                                United KingdomRiver
29               United KingdomOccupational Therapist
30                       United KingdomSafety Manager
31                                 United KingdomChef
32                         United KingdomNurse School
33           United KingdomSpecial Effects Specialist
34                   United KingdomResearch Associate
35                            United KingdomCounselor
36                        United KingdomChange Person
37                  United KingdomPressure Supervisor
38             United KingdomManager Records Analysis
39                     United KingdomManager Benefits
40     United KingdomCost-And-Sales-Record Supervisor
41                United KingdomContainer Coordinator
42                               United KingdomBarber
43                           United KingdomNurse Head
44    United KingdomCentral-Office Equipment Engineer
45                            United KingdomTax Clerk
46                   United KingdomSupervisor Mapping
47                         United KingdomCardiologist
48           United KingdomSupervisor Line Department
49                   United KingdomManager Employment

                         search_position
0                            Color Maker
1               Director Nursing Service
2                               Stand-In
3                      Real-Estate Clerk
4   Supervisor Travel-Information Center
5                    Residence Counselor
6                     Nurse Practitioner
7                 Human Resource Advisor
8                                 Double
9                    Program Coordinator
10                         Special Agent
11                                Vendor
12                Psychiatric Technician
13                    Solutions Operator
14      Circulation-Sales Representative
15                         Change Person
16                              Stand-In
17                      Manager Benefits
18                    Booking Supervisor
19             Quality Assurance Analyst
20                               Charter
21                                Double
22              Director Nursing Service
23                             Sous Chef
24                             Conductor
25                              Costumer
26                       Exhibit Builder
27         Nuclear Medicine Technologist
28                                 River
29                Occupational Therapist
30                        Safety Manager
31                                  Chef
32                          Nurse School
33            Special Effects Specialist
34                    Research Associate
35                             Counselor
36                         Change Person
37                   Pressure Supervisor
38              Manager Records Analysis
39                      Manager Benefits
40      Cost-And-Sales-Record Supervisor
41                 Container Coordinator
42                                Barber
43                            Nurse Head
44     Central-Office Equipment Engineer
45                             Tax Clerk
46                    Supervisor Mapping
47                          Cardiologist
48            Supervisor Line Department
49                    Manager Employment

In [132]:
#Account Executive in top 50
print(linked_in_jobs_df[['search_country', 'job_title']].head(50))

                         search_country  \
385466  United KingdomAccount Executive
632518  United KingdomAccount Executive
632612  United KingdomAccount Executive
632611  United KingdomAccount Executive
632606  United KingdomAccount Executive
632605  United KingdomAccount Executive
632603  United KingdomAccount Executive
632602  United KingdomAccount Executive
632540  United KingdomAccount Executive
24617   United KingdomAccount Executive
442626  United KingdomAccount Executive
632520  United KingdomAccount Executive
632519  United KingdomAccount Executive
24612   United KingdomAccount Executive
24610   United KingdomAccount Executive
442726  United KingdomAccount Executive
632517  United KingdomAccount Executive
632516  United KingdomAccount Executive
632514  United KingdomAccount Executive
24606   United KingdomAccount Executive
632513  United KingdomAccount Executive
632512  United KingdomAccount Executive
632511  United KingdomAccount Executive
632510  United KingdomAccount Executive
632509  United KingdomAccount Executive
442627  United KingdomAccount Executive
632508  United KingdomAccount Executive
632495  United KingdomAccount Executive
632613  United KingdomAccount Executive
632614  United KingdomAccount Executive
632615  United KingdomAccount Executive
632626  United KingdomAccount Executive
24667   United KingdomAccount Executive
632805  United KingdomAccount Executive
632804  United KingdomAccount Executive
632803  United KingdomAccount Executive
632735  United KingdomAccount Executive
632734  United KingdomAccount Executive
632733  United KingdomAccount Executive
24659   United KingdomAccount Executive
632722  United KingdomAccount Executive
24657   United KingdomAccount Executive
632721  United KingdomAccount Executive
632663  United KingdomAccount Executive
632662  United KingdomAccount Executive
632661  United KingdomAccount Executive
632660  United KingdomAccount Executive
632648  United KingdomAccount Executive
632647  United KingdomAccount Executive
632646  United KingdomAccount Executive

                                                job_title
385466                  Account Executive, K-12 Education
632518                             Account Manager Relief
632612                  Account Manager- Commercial Lines
632611                    Outside Sales Account Executive
632606     Field Sales Account Executive (Luxury Manager)
632605                         Commercial Account Manager
632603                                  Account Executive
632602               Account Executive, Industrial Supply
632540                               Saas Account Manager
24617                             Sales Account Executive
442626                         Key Account Representative
632520               Commercial Landscape Account Manager
632519                         Regional Account Executive
24612                                   Account Executive
24610                                   Account Executive
442726                         Business Account Executive
632517    Amazon- Junior Account Manager - Virtual/Remote
632516                         Commercial Account Manager
632514                                  Account Executive
24606                            Senior Account Executive
632513               Field Account Executive, AL (Remote)
632512                            Account Executive Miami
632511      Manager, Major Account Sales, Corporate (BMG)
632510  Client Relationship Manager - Automotive - Det...
632509           Clinical Account Executive - Pulmonology
442627                          Digital Account Executive
632508          Commercial & Multi-Family Account Manager
632495  Inside Sales Account Manager - B2B Financial S...
632613                                    Sales Executive
632614                                Key Account Manager
632615                     Personal Lines Account Manager
632626          Personal/Commercial Lines Account Manager
24667                                   Account Executive
632805                        Technical Account Executive
632804  Commercial Insurance Assistant / CSR - REMOTE/...
632803         Strategic Digital Native Account Executive
632735  Outside Sales Account Executive, Direct Sales ...
632734                          Canvass Supervisor- 100k+
632733         Commercial Development Account Executive 1
24659                                   Account Executive
632722                    Account Executive (Food Broker)
24657                               H&B Senior Consultant
632721                  Account Executive, SMB Team Sales
632663            Account Executive, Industrial Equipment
632662                       Healthcare Account Executive
632661                       Inside Sales Account Manager
632660                                  Account Executive
632648                             Account Manager (HVAC)
632647                   Account Manager (Transportation)
632646  Account Manager Relief - Quarterly Bonus Poten...

In [246]:
#New column is created postions count which holds the number of the same job titles in rows
linked_in_jobs_df['position_count'] = linked_in_jobs_df.groupby('job_title')['job_title'].transform('count')

In [250]:
#New data fram with just the 2 columns
sorted_UK_jobs = linked_in_jobs_df[['job_title', 'position_count']].head(20)

In [252]:
#Sort the sorted_UK_jobs DataFrame by the 'position_count' column, from the highest to the lowest.
print(sorted_UK_jobs.sort_values(by='position_count', ascending=False))

                                            job_title  position_count
14                            LEAD SALES ASSOCIATE-PT            4924
8                                       Store Manager            4791
6                               Registered Nurse (RN)            1408
17                         Human Resources Generalist             721
3                       Independent Real Estate Agent             109
10                Special Agent: Law/Legal Background              23
4   Group/Unit Supervisor (Systems Support Manager...              15
9                     Engineering Project Coordinator               7
16            Senior Associate, Tax - Product Analyst               6
1                  Registered Nurse - RN Care Manager               6
13               Control Systems Integration Engineer               2
18                        Supervisor - Horticulturist               2
19  Analyst, Associate Plan Configuration & Qualit...               2
12  Assistant Vice President Behavioral Health Sci...               1
11                           Manager, Site Operations               1
15                      Entry-Level Financial Advisor               1
7                            Part Time- HR Generalist               1
5                                  Counselor-07532802               1
2                RESTAURANT SUPERVISOR - THE FORKLIFT               1
0   Account Executive - Dispensing (NorCal/Norther...               1

In [256]:
#Next 3 lines is the same as the above except but using the serch position column and not the job title
linked_in_jobs_df['position_count'] = linked_in_jobs_df.groupby('search_position')['search_position'].transform('count')

In [258]:
sorted_UK_jobs = linked_in_jobs_df[['search_position', 'position_count']].head(20)

In [260]:
print(sorted_UK_jobs.sort_values(by='position_count', ascending=False))

                         search_position  position_count
15                         Change Person           12025
14      Circulation-Sales Representative           10978
6                     Nurse Practitioner            8287
17                      Manager Benefits            7966
1               Director Nursing Service            5314
16                              Stand-In            3848
2                               Stand-In            3848
11                                Vendor            3772
9                    Program Coordinator            2941
19             Quality Assurance Analyst            1900
12                Psychiatric Technician            1613
8                                 Double            1493
13                    Solutions Operator             965
3                      Real-Estate Clerk             800
5                    Residence Counselor             721
7                 Human Resource Advisor             686
0                            Color Maker             659
4   Supervisor Travel-Information Center             603
10                         Special Agent             159
18                    Booking Supervisor             103

In [ ]:
#could do with feeback from the Teacher on all the home works completed.